.buttonsContainer {
    display: flex;
    gap: 25px;
}

.responseContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.imageContainer {
    margin-right: 60px;
}

.image {
}

.textContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 510px;
}

.code {
    font-size: 30px;
}

.text {
    font-size: large;
    white-space: pre-wrap;
}
.info {
    font-size: large;
}