.spanBlock {
    display: flex;
    padding: 20px;
}

.span {
    padding: 10px;
    line-height: 20px;
    color: #0080FF;
}

.input {
    width: 276px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.pen {
}